server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/meddb
    username: meduser
    password: medpass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32+CHARS"
    issuer: "med-requests"
    expiration-minutes: 120
